.navbar {
    background-color: rgb(36, 36, 36);
    color: rgb(219, 219, 219);
    padding: 20px;
}

.navbar > a {
    font-size: 1.5em;
}

.navigation-tracker > svg {
    color: rgb(192, 109, 0);
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: #8336db;
}

::ng-deep .mat-progress-bar-buffer {
    background: #cc95e2;
}

::ng-deep .mat-progress-bar {
    border-radius: 2px;
}