.navbar {
    background-color: rgb(36, 36, 36);
    color: rgb(219, 219, 219);
    padding: 20px;
}

.navbar > a {
    font-size: 1.5em;
}

.navigation-tracker > svg {
    color: rgb(192, 109, 0);
}

#donutChart {
    max-width: 400px;
}